{
  "ignore": [
    "**/*.test.cjs",
    "**/*.test.js",
    "**/*.test.jsx",
    "**/*.test.mjs",
    "**/*.test.ts"
  ],
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-syntax-import-assertions",
    "lodash",
    ["module-extension", { "cjs": "", "mjs": "" }]
  ]
}
