# project settings
.vscode/

# babel settings
.babelrc
.babelrc.*
babel.config.*

# doc source
doc/

# eslint settings
.eslintrc.*

# local secrets
*.local

# templates
*.template

# test files
**/test/
*.test.*
